<audio id="audio">
    <source src="media/saxAudio.mp3" type="audio/mp3">
</audio>
    

<h3 class="row">
    <div class="row">
        <div class="col">
            <button type="button" class="btn btn-primary" id="boton_audio"></button><br>

            <IMG SRC="media/gif1.gif">
        </div>
            <div class="col">