<div class="container">
    <div class="row">
        <div class="col">

            <%- include('datos.ejs') %>
            <br>
            <br>
            <br>
            
        </div>
        <div class ="col"></div>
        <div class="col">
            <IMG SRC="media/logo_tec.png"
            width="400"
            height="100" />
            
        </div>
    </div>

</div>