<h1>Rutas</h1><br>
<div>

    - /routes/prueba1 <br>
    - /routes/prueba2 <br>
    - /routes2/prueba3<br>
    - /routes2/prueba4  (prueba que escribe en archivo de texto)<br>

    - /login
<br><br>
</div>