
<%- include('includes/head.ejs') %>

<body>

    <%- include('includes/logo.ejs') %>


    <form action="/routes/prueba1" method="POST">
    <label for="judador">Tu nombre es:</label>
    <input type="text" id="jugador" name="jugador">
    <input type="submit" value="Enviar"></input>
    </form>


</body>





