<%- include('includes/head.ejs') %>

<body>

    <%- include('includes/logo.ejs') %>


    <h2>prueba post pagina 4</h2>
    <form action="/routes2/prueba4" method="POST">
    <label for="texto_prueba">Texto prueba:</label>
    <input type="text" id="texto_prueba" name="texto_prueba">
    <input type="submit" value="Enviar"></input>
    </form>


</body>